.title-headings {
    text-align: center;
}

.image1 {
  max-width: 110px;
}

.dropdown-options {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .label-value {
    margin-bottom: 8px;
    font-weight: 500;
  }
  
  .selected-value {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    max-width: 200px;
    position: absolute;
    left: 200px;
  }
  
.main-appln {
  border: 5px solid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  background-size: cover;
  background-color: white;
}